// Fonts
$priamry-font: "Raleway", sans-serif;
$secondary-font: "Open Sans", sans-serif;

// Colors
$background-color: rgba(225, 255, 250, 0.2);
$hover-color: #9cc7c3;
$box-shadow-color: #ccc;
$black: #000;

// Text
$text-indent: 15px;
