img {
  border-radius: 2%;
  transition: transform 0.5s ease;
  -webkit-box-shadow: 3px 3px 3px 3px #ccc; /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
  -moz-box-shadow: 3px 3px 3px 3px #ccc; /* Firefox 3.5 - 3.6 */
  box-shadow: 3px 3px 3px 3px #ccc;
  &:hover {
    transform: scale(1.05, 1.05);
    // transform: translateY(-50%) scale(1.05);
  }
}

// put a shoadw on the images
