img {
  border-radius: 2%;
  transition: transform 0.5s ease;
  box-shadow: 3px 3px 3px 3px $box-shadow-color;
  &:hover {
    // transform: scaleY(20px);
    transform: translateY(-5%) scale(1.05);
  }
}

// put a shoadw on the images
