// form {
//   width: 100%;
//   margin: 0 auto;
// }

input[type="text"] {
  margin: auto;
  height: 2.4em;
  width: 60%;
  text-indent: $text-indent;
  border: 1px solid $box-shadow-color;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-out;
  &::placeholder {
    text-indent: $text-indent;
    color: rgb(92, 90, 90);
  }
  &:focus {
    outline: 2px;
    border: none;
    box-shadow: inset 0 0 0 2pt $hover-color;
  }
}
