/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  width: 70%;
  padding: 20px 0;
}

header {
  margin: 1em 0 2em 0;
  display: flex;
}
