/* ============================================= */
/*              Base styles                      */
/* ============================================= */
* {
  box-sizing: border-box;
}

body {
  margin: auto;
  padding-bottom: 20px;
  background-color: rgba(225, 255, 250, 0.2);
}

header {
  margin-bottom: 2em;
  height: 45vh;
  width: 100%;
  background-image: url("../images/road.jpg");
  background-size: cover;
  display: flex;
}

// I'm working on centering the gallery BUG
main {
  width: 70%;
}
